.content {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    gap: 5rem;


    .sidebar-menu {
        display: flex;
        flex-direction: column;


        img {
            width: 50%;
        }
    }
}

div.menu {
    border: 3px solid grey;
}


.active-thumbnail {
    border: 3px solid red;
}