.lets-begin {
    font-size: large;
}

.choose-type-of-order {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eat-in-property,
.take-away {
    img {
        width: 50%;
    }
}

button {
    padding: 50px 20px;
    margin: 20px;
    cursor: pointer;
}

.deactivated {
    opacity: 45%;
    cursor: not-allowed;
}